<html>
<head>
<title>ReclaimPhilly</title>

<link rel="stylesheet" href="/static/css/reclaimphilly.css" />
<link rel="stylesheet" href="/static/js/leaflet/leaflet.css" />

<script src="/static/js/leaflet/leaflet.js"></script>
<script src="/static/js/jquery/jquery-1.8.3.min.js"></script>

<script>
	// Configuration items
	var START_LATITUDE = 39.96;
	var START_LONGITUDE = -75.17;
	var DEFAULT_ZOOM = 15;

	/*
	 * Setup the map
	 */
	var setupMap = function() {
		var map = L.map('mapDiv').setView([START_LATITUDE, START_LONGITUDE], DEFAULT_ZOOM);
		L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: 'Map data by OpenStreetMap',
		    maxZoom: 18
		}).addTo(map);
	};

	
	/*
	 * Geocode the search criteria
	 */ 
	var geocodeAddress = function(address) {
		var geocodeUrl = "http://nominatim.openstreetmap.org/search/q=" + encodeURIComponent(address); 
	};
	
	 
	// Run after the document has loaded
	$('document').ready(function() {
		
		// Search Button click event
		$('#searchButton').click(function(){
			var address = $('#addressInput').val();
			var addressCoordinates = geocodeAddress(address);
		});
		
		setupMap();
	});
</script>

</head>

<body>

	<div id="headerDiv">
		<p>ReclaimPhilly</p>
	</div>

	<div id="searchDiv">
		<form id="searchForm">
			<input id="addressInput" type="text"></input>
			<button id="searchButton">Search</button>
		</form>
	</div>

	<div id="resultsDiv"></div>

	<div id="mapDiv"></div>

</body>
</html>